body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(237, 237, 237);
}
.top{
  min-height: 40px;
}
#topnavbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  position: fixed;
  z-index: 1;
}
#topnavbar a{
  text-decoration: none
}
#topnavbar a:not(.login){
  float: left;
}
#topnavbar a:not(.logo):not(.login):not(.logomin){
    color: #176fa7;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
#topnavbar a:hover:not(.login):not(.logo):not(.logomin):not(.minbut) {
  background-color: #176fa7;
  color:  #f0f0f0;
}
.menumin{
  display: none;
  color: #176fa7;
 margin-bottom: 20px;
  text-decoration: none;
}
.menumin i{
    margin-top: 20px;
    margin-left: 20px;
}
.logo {
	font-family: 'Cinzel Decorative', cursive;
	color:#176fa7;
	font-size:22px;
  user-select: none;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.logomin{
  font-family: 'Cinzel Decorative', cursive;
	color:#176fa7;
	font-size:22px;
  user-select: none;
  margin-left: 20px;
  margin-right: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  user-select: none;
  display: none;
}
.firsttopbutton{
  margin-left: 15%;
}
.login{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  float: right;
  color: #f0f0f0;
  background-color: #176fa7;
}
.container{
  z-index: 0;
  padding: 0 auto;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  background-color: #e7e7e7;
}
.left{
  float: left;
  width: 14%;
  height: 90vh;
  background-color: rgb(64, 170, 64);
}
#leftnavbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #55a6da;
  overflow: auto;
}
#leftnavbar a {
  text-align: left;
  display: block;
  color: #f0f0f0;
  padding: 8px 16px;
  text-decoration: none;
}
#leftnavbar a:hover{
  background-color: #f0f0f0;
  color: #176fa7;
}
#leftnavbarmin {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #55a6da;
  display: none;
  overflow:hidden;
}
#leftnavbarmin a {
  color: #f0f0f0;
 padding-top: 10px;
 padding-bottom: 10px;
  text-decoration: none;
}
#leftnavbarmin i {
  margin-bottom: 10px;
      width: 65px;
  padding: 8px 16px;
}
#leftnavbarmin a:hover{
  background-color: #f0f0f0;
  color: #176fa7;
}
.right{
  float: right;
  width: 85%;
  height: 95vh;
  background-color: rgb(237, 237, 237);
}
@media screen and (max-width: 1100px) {
  .right{
  }
  .left{
    max-width: 65px;
  }
  #leftnavbar{
    display: none;
  }
  #leftnavbarmin{
    display: block;
  }
  .logo{
    display: none;
  }
  .logomin{
    display: block;
  }
  .firsttopbutton{
    margin-left: 65px;
  }
}
@media screen and (max-width: 600px) {
  #topnavbar a:not(.minbut) {
    float: left;
    width: 100%;
    text-align: left;
  }
  .left{
    display: none;
  }
  .menumin{
    display: block;
  }
  .right{
    margin-top: 225px;
    float: none;
    width: 100%;
  }
  .logo{
    margin-left: 15px;
  }
  .firsttopbutton{
    margin-left: 0;
  }
}
.worktable{
  margin-top: 10px;
}
.tags a {
  display: inline-block;
  height: 21px;
  margin: 0 10px 0 0;
  padding: 0 7px 0 14px;
  white-space: nowrap;
  position: relative;

  background: -moz-linear-gradient(top, #176fa7 0%, #176fa7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#176fa7), color-stop(100%,#176fa7));
  background: -webkit-linear-gradient(top, #176fa7 0%,#176fa7 100%);
  background: -o-linear-gradient(top, #176fa7 0%,#176fa7 100%);
  background: linear-gradient(to bottom, #176fa7 0%,#176fa7 100%);
  background-color: #176fa7;

  color: #ffffff;
  font: bold 11px/20px Arial, Tahoma, sans-serif;
  text-decoration: none;
  text-shadow: 0 1px rgba(255,255,255,0.4);

  border-top: 1px solid #176fa7;
  border-bottom: 1px solid #176fa7;
  border-right: 1px solid #176fa7;
  border-radius: 1px 3px 3px 1px;
  box-shadow: inset 0 1px #176fa7, 0 1px 2px rgba(0,0,0,0.21);
}
.tags a:before {
  content: '';
  position: absolute;
  top: 5px;
  left: -6px;
  width: 10px;
  height: 10px;

  background: -moz-linear-gradient(45deg, #176fa7 0%, #176fa7 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#176fa7), color-stop(100%,#176fa7));
  background: -webkit-linear-gradient(-45deg, #176fa7 0%,#176fa7 100%);
  background: -o-linear-gradient(45deg, #176fa7 0%,#176fa7 100%);
  background: linear-gradient(135deg, #176fa7 0%,#176fa7 100%);
  background-color: #176fa7;

  border-left: 1px solid #176fa7;
  border-bottom: 1px solid #176fa7;
  border-radius: 0 0 0 2px;
  box-shadow: inset 1px 0 #176fa7, 0 2px 2px -2px rgba(0,0,0,0.33);
}
.tags a:before {
  -webkit-transform: scale(1, 1.5) rotate(45deg);
  -moz-transform: scale(1, 1.5) rotate(45deg);
  -ms-transform: scale(1, 1.5) rotate(45deg);
  transform: scale(1, 1.5) rotate(45deg);
}
.tags a:after {
  content: '';
  position: absolute;
  top: 7px;
  left: 1px;
  width: 5px;
  height: 5px;
  background: #FFF;
  border-radius: 4px;
  border: 1px solid #176fa7;
  box-shadow: 0 1px 0 rgba(255,255,255,0.2), inset 0 1px 1px rgba(0,0,0,0.21);
}
